project:
  type: website
  output-dir: docs

website:
  title: "Quarto website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - project.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
bibliography: ./ref.bib





